html, body {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    

}

#gg {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 3em;
    /* text-align: center; */
    color: green;
  }


#txt {
    border-style: inset;
    border-color: yellowgreen;
    background-color: whitesmoke;
    padding: 5px;
    font-size: 1.5em;
}

.dual-nav {
    width: 30% !important;
    
}




.nav-link {
    font-size: 10px
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

