html, body {
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    

}

#gg {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-size: 3em;
    /* text-align: center; */
    color: whitesmoke;
    width: 40%;
  }



  @media screen and (max-width: 650px) {
      #gg {
          font-size: 2em;
      }
  }

  @media screen and (max-width: 450px) {
    #gg {
        font-size: 1.5em;
        margin-left: -10px !important;
    }
}



#txt {
    border-style: inset;
    border-color: yellowgreen;
    background-color: whitesmoke;
    padding: 5px;
    font-size: 1.5em;
    color: black;
}

@media screen and (max-width: 450px) {
    #txt {
        font-size: 1em;
        padding: 3px;
    }
}


.dual-nav {
    width: 30% !important;
    
}

@media screen and (max-width: 770px) {

.navtog {
    width: 30%;
}

}


.navbar-collapse, .navbar-text {
    width: 30% !important;
}


.nav-link {
    font-size: 17px;
    text-align: center;
}

.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


#menuToggle
{
  display: block;
  position: relative;
  /* top: 50px;
  left: 50px; */
  margin-top: 7px;
  
  
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: whitesmoke;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  color: whitesmoke !important;
  
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}



/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: whitesmoke;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

@media screen and (max-width: 400px) {
    #menuToggle span
{
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  margin: -50px 0 0 -16px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}





#menu li
{
  padding: 10px 0;
  font-size: 22px;
  text-align: center;
}

/*
 * slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}


@media screen and (min-width: 770px) {
    #menuToggle {
        display: none;
    }
}


/* cards start here */

.card-columns {
    margin-top: 10px;
}


.glow {
    background-color: #004A7F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 20px;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    -webkit-animation: glowing 1500ms infinite;
    -moz-animation: glowing 1500ms infinite;
    -o-animation: glowing 1500ms infinite;
    animation: glowing 1500ms infinite;
  }
  @-webkit-keyframes glowing {
    0% { background-color: green; -webkit-box-shadow: 0 0 3px green; }
    50% { background-color: limegreen; -webkit-box-shadow: 0 0 40px limegreen; }
    100% { background-color: green; -webkit-box-shadow: 0 0 3px green; }
  }
  
  @-moz-keyframes glowing {
    0% { background-color: green; -moz-box-shadow: 0 0 3px green; }
    50% { background-color: limegreen; -moz-box-shadow: 0 0 40px limegreen; }
    100% { background-color: green; -moz-box-shadow: 0 0 3px green; }
  }
  
  @-o-keyframes glowing {
    0% { background-color: green; box-shadow: 0 0 3px green; }
    50% { background-color: limegreen; box-shadow: 0 0 40px limegreen; }
    100% { background-color: green; box-shadow: 0 0 3px green; }
  }
  
  @keyframes glowing {
    0% { background-color: green; box-shadow: 0 0 3px green; }
    50% { background-color: limegreen; box-shadow: 0 0 40px limegreen; }
    100% { background-color: green; box-shadow: 0 0 3px green; }
  }

  @import url(https://fonts.googleapis.com/css?family=Lato:900);
*, *:before, *:after{
  box-sizing:border-box;
}
body{
  font-family: 'Lato', sans-serif;
}
div.foo{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
.letter{
  display: inline-block;
  font-weight: 900;
  font-size: 1em;
  /* margin: 0.2em; */
  position: relative;
  color: #00B4F1;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
}
.letter:before, .letter:after{
  position:absolute;
  content: attr(data-letter);
  transform-origin: top left;
  top:0;
  left:0;
}
.letter, .letter:before, .letter:after{
  transition: all 0.3s ease-in-out;
}
.letter:before{
  color: #fff;
  text-shadow: 
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-15deg)
    rotateZ(0deg);
}
.letter:after{
  color: rgba(0,0,0,.11);
  z-index:2;
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(0deg)
    rotateZ(0deg)
    skew(0deg,1deg);
}
.letter:hover:before{
  color: #fafafa;
  transform:
    rotateX(0deg)
    rotateY(-40deg)
    rotateZ(0deg);
}
.letter:hover:after{
  transform:
    scale(1.08,1)
    rotateX(0deg)
    rotateY(40deg)
    rotateZ(0deg)
    skew(0deg,22deg);
}

.ls {
    font-size: 2em;
}

.hr {
    font-weight: 400;
}

@media screen and (max-width: 578px) {
  .glow {
    width: 100vw;
    
  }
}

@media screen and (max-width: 500px) {
  .ad {
    height: 50px;
    width: 320px;
    
  }
}